* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: black;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 1 2px;
    background: transparent;
    color: white;
    border-bottom: 0px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#tray, #network, #memory, #pulseaudio, #cpu, #mode, #clock, #battery, #time{
    padding: 1 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}
#pulseaudio{
    background-color: black;
    color: white;
}
#clock {
    background-color: black;
    color: white;
}

#battery {
    background-color: black;
    color: white;
}
#cpu {
    background-color: black;
    color: white;
}
#memory{
    background-color: black;
    color: white;
}
#network{
    background-color: black;
    color: white;
}
#tray {
    background-color: black;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
